<!doctype html>
<html lang="en">

<head>
  <title>Fanlar</title>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/royxat.css">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">



</head>
<style>
  body {
    background-image: url(/Снимок7.PNG);
    background-size: cover;
  }
</style>

<body>



  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Siz rostdan ham ushbu fanni o'chirmoqchimisiz?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
          <a href="/fanlar/ochirish/" class="btn btn-danger">O'chirish</a>
        </div>
      </div>
    </div>
  </div>




  <div th:insert="header :: boshqism1"></div>
  <div class="container bg-light mt-3 mb-3 pb-3 pt-2">

    <h2 style="padding-left: 10px;color: rgb(2, 26, 98);">Fanlar bo'limi</h2>
    <hr>
    <div class="row">
      <div class="col-12 col-md-3">
        <div th:if="${fan} == null" style="background-color: rgb(200, 217, 250); padding: 13px;">


          <h3>Fan qo'shish</h3>



          <form action="/fanlar" method="POST">
            <div class="form-group">
              <label for="mon">Nom:</label>
              <input type="text" name="nom" id="mon" class="form-control" placeholder="Fan nomini kiriting..."
                aria-describedby="nom" required>

            </div>

            <div class="form-group">
              <label for="info">Izoh</label>
              <textarea class="form-control" name="info" id="info" rows="5" placeholder="Izoh..."></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Qo'shish"></input>
            <input type="reset" class="btn btn-danger" value="Tozalash"></input>
          </form>
        </div>
        <div th:if="${fan} !=null" style="background-color: rgb(192, 214, 255); padding: 13px;">
          <h3>Fanni tahrirlash</h3>
          <form action="/fanlar/edit" method="POST">
            <div class="form-group">
              <label for="id">Id:</label>
              <input th:value="${fan.id}" type="text" name="id" id="id" class="form-control" aria-describedby="id"
                readonly>
            </div>
            <div class="form-group">
              <label for="mon">Nom:</label>
              <input th:value="${fan.nom}" type="text" name="nom" id="mon" class="form-control"
                placeholder="Nomini kiriting..." aria-describedby="nom" required>

            </div>
            <div class="form-group">
              <label for="info">Izoh</label>
              <textarea th:field="${fan.info}" class="form-control" name="info" id="info" rows="5"
                placeholder="Izoh..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Tahrirlash</button>
            <a href="/fanlar" class="btn btn-danger" style="font-weight: normal !important;">Bekor qilish</a>
          </form>
        </div>
      </div>
      <div class="col-12 col-md-9" style="background-color: rgb(245, 243, 243); padding: 13px;">
        <div class="row">
          <div class="col-12 col-md-6 ">
            <h3>Fanlar ro'yxati</h3>
          </div>
          <div class="col-12 col-lg-6 position-relative">

            <div style="display: flex;flex-direction: row;justify-content: flex-end;">
              <div style="font-size: 20px;padding-top: 4px;color: rgb(54, 54, 54);">
                Natija:
                <span id="jami" th:text="${fanlar.size}"></span>
                ta
              </div>
              <div style="padding-top: 6px;padding-left: 8px;">
                <form id="izlash" action="/fanlar/izla" method="POST">
                  <input type="text" id="qidir" name="satr" placeholder="ma'lumot kiriting...">
                  <input type="submit" id="tugma" value="Izlash"></input>
                </form>
              </div>

            </div>


          </div>
        </div>

        <div th:if="${fanlar.size} == 0" id="royxatBush">
          Ro'yxat bo'sh!

        </div>
        <table th:if="${fanlar.size} != 0" class="table table-striped table-border table-responsive">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Izoh</th>
              <th>Amallar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="o : ${fanlar}">
              <td th:text="${o.id}"></td>
              <td th:text="${o.nom}"></td>
              <td th:text="${o.info}"></td>
              <td>
                <a class="btn btn-info" th:href="@{/fanlar/edit/{id}(id=${o.id})}" style="border-radius: 50%;">
                  <i class="fa fa-pencil " aria-hidden="true"></i>
                </a>



                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                  th:attr="data-id=${o.id}" style="border-radius: 50%;">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>


              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>





  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



  <script>
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var id = button.data('id');
      var modal = $(this)
      modal.find('.modal-footer a').attr('href', '/fanlar/ochirish/' + id)
    })
  </script>



</body>

</html>