<!doctype html>
<html lang="en">

<head>
  <title>Guruhlashlar</title>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/royxat.css">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">



</head>
<style>
  #tahrirlash {
    padding: 13px;
    background-image: url(/Снимок3.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
  }
</style>

<body>



  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Siz rostdan ham ushbu guruhlashni nofaol qilmoqchimisiz?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Yo'q</button>
          <a href="/sessiyalar/ochirish/" class="btn btn-danger">Ha</a>
        </div>
      </div>
    </div>
  </div>




  <div th:insert="header :: boshqism1"></div>
  <div class="container-fluid bg-light pt-2">

    <h2 style="padding-left: 10px;color: rgb(2, 26, 98);">Guruhlashlar bo'limi</h2>
    <hr>
    <div class="row">
      <div class="col-12 col-md-3">

        <video width="100%" height="100%" autoplay muted loop th:if="${sessiya} ==null" >
          <source src="/gif.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Gif
        </video>


        <form id="tahrirlash" th:action="@{/sessiyalar/edit}" method="POST" th:if="${sessiya} !=null" >
          <h4 style="text-align: center;">Guruhlashni tahrirlash</h4>
          <div class="form-group">
            <label for="id">Id:</label>
            <input th:value="${sessiya.id}" type="text" name="id" id="id" class="form-control" aria-describedby="id"
              readonly>

          </div>
          <div class="form-group">
            <label for="oquvchi">O'quvchi:</label>
            <select class="form-control" name="oquvchi" id="oquvchi">
              <option th:value="${sessiya.oquvchi.id}" th:text="${sessiya.oquvchi.familiya}+' '+${sessiya.oquvchi.ism}"
                selected aria-readonly="true">
              </option>
            </select>

          </div>

          <div class="form-group">
            <label for="guruh">Guruh:</label>
            <select class="form-control" name="guruh" id="guruh">
              <option th:each="g : ${guruhlar}" th:value="${g.id}" th:text="${g.nom}"
                th:if="${sessiya.guruh.id} != ${g.id}"></option>
              <option th:value="${sessiya.guruh.id}" th:text="${sessiya.guruh.nom}" selected></option>


            </select>
          </div>

          <div class="form-group">
            <label for="boshVaqt">Boshlangan vaqt:</label>
            <input required th:field="${sessiya.boshVaqt}" type="datetime-local" name="boshVaqt" id="boshVaqt"
              class="form-control" aria-describedby="boshVaqt">

          </div>

          <div class="form-group">
            <label for="tugVaqt">Tugash vaqt:</label>
            <input th:field="${sessiya.tugVaqt}" type="datetime-local" name="tugVaqt" id="tugVaqt" class="form-control"
              aria-describedby="tugVaqt">

          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input th:if="${sessiya.guruh.aktiv}" type="checkbox" class="form-check-input" name="aktiv"
                th:field="${sessiya.aktiv}">
              <input th:if="${!sessiya.guruh.aktiv}" type="checkbox" class="form-check-input" name="aktiv"
                th:field="${sessiya.aktiv}" disabled>
              Aktiv
            </label>
          </div>

          <div class="form-group">
            <label for="info">Izoh</label>
            <textarea th:field="${sessiya.info}" class="form-control" name="info" id="info" rows="5"
              placeholder="Izoh..."></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Tahrirlash</button>
          <a href="/sessiyalar" class="btn btn-danger" style="font-weight: normal !important;">Bekor qilish</a>
        </form>


      </div>
      <div class="col-12 col-md-9" style=" padding: 13px; ">

        <div class="row">
          <h4 class="col-12 col-xl-3" style="padding-left: 8px;padding-right: 0;padding-top: 3px;">Guruhlashlar ro'yxati
          </h4>

          <div class="col-12 col-xl-9" style="display: flex;  flex-wrap: wrap;justify-content: flex-end; padding-left: 0;padding-right: 4px;">
            <div style="font-size: 20px;padding-top: 4px;color: rgb(54, 54, 54);margin-bottom: 5px;margin-right: 5px;">
              Natija:
              <span id="jami" th:text="${sessiyalar.size}">123456</span>
              ta
            </div>
            <div style="padding-top: 6px;margin-left: 8px;margin-bottom: 5px;margin-right: 7px;">
              <form id="izlash" th:action="@{/sessiyalar/izla}" method="POST">
                <input type="text" id="qidir" name="satr" placeholder="ma'lumot kiriting...">
                <input type="submit" id="tugma" value="Izlash"></input>
              </form>
            </div>
            <div style="margin-right: 5px;margin-bottom: 5px;">
              <a class="btn btn-info " th:href="@{/sessiyalar}" role="button">Hammasi</a>
              <a class="btn btn-success " th:href="@{/sessiyalar/tolanganlar}" role="button">To'langanlar</a>
              <a class="btn btn-danger " th:href="@{/sessiyalar/tolanmaganlar}" role="button">To'lanmaganlar</a>
            </div>
          </div>
        </div>



        <div th:if="${sessiyalar.size} == 0" id="royxatBush" >
          Ro'yxat bo'sh!

        </div>
        <table th:if="${sessiyalar.size} != 0" class="table table-striped table-border table-responsive" >
          <thead class="thead-inverse">
            <tr>
              <th>Id</th>
              <th>Guruh</th>
              <th>O'quvchi</th>
              <th>Boshlagan vaqti</th>
              <th>Tugash vaqti</th>
              <th>To'lov</th>
              <th>Aktiv</th>
              <th>Izoh</th>
              <th>Amallar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="o : ${sessiyalar}">
              <td th:text="${o.id}"></td>
              <td>
                <a class="link" th:href="@{/guruhlar/onguruh/{id}(id=${o.guruh.id})}" th:text="${o.guruh.nom}"></a>
              </td>
              <td>
                <a class="link" th:href="@{/oquvchilar/edit/{id}(id=${o.oquvchi.id})}"
                  th:text="${o.oquvchi.familiya}+' '+${o.oquvchi.ism}"></a>
              </td>
              <td th:text="${o.boshVaqt}"></td>
              <td th:switch="${o.tugVaqt} != null">
                <span th:case="true" th:text="${o.tugVaqt}"></span>
                <span th:case="false" style="color: rgb(52, 52, 221);font-weight: bold;">Davomiy</span>
              </td>
              <td th:switch="${o.tolov}">
                <span th:case="true" style="color: rgb(0, 238, 0);">
                  To'langan
                </span>
                <span th:case="false" style="color: rgb(253, 50, 43);">
                  To'lanmagan
                </span>
              </td>
              <td th:switch="${o.aktiv}">
                <span th:case="true" style="color: rgb(0, 238, 0);">
                  Ha
                </span>
                <span th:case="false" style="color: rgb(253, 50, 43);">
                  Yo'q
                </span>
              </td>
              <td th:text="${o.info}"></td>
              <td style="text-align: center;">
                <a class="btn btn-info" th:href="@{/sessiyalar/edit/{id}(id=${o.id})}" style="border-radius: 50%;">
                  <i class="fa fa-pencil " aria-hidden="true"></i>
                </a>



                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                  th:attr="data-id=${o.id}" th:if="${o.aktiv}" style="border-radius: 50%;">

                  <i class="fa fa-power-off" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                  th:attr="data-id=${o.id}" th:if="${!o.aktiv}" style="border-radius: 50%;" disabled>

                  <i class="fa fa-power-off" aria-hidden="true"></i>
                </button>


              </td>
            </tr>
          </tbody>
        </table>



      </div>







    </div>
  </div>





  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



  <script>
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var id = button.data('id');
      var modal = $(this)
      modal.find('.modal-footer a').attr('href', '/sessiyalar/ochirish/' + id)
    })
  </script>


</body>

</html>