<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <title>Guruhlar</title>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/royxat.css">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">

  <link href="/css/style.css" rel="stylesheet">
  <style>
    body {
      background-image: url(/Снимок7.PNG);
      background-size: cover;
    }
  </style>
 

</head>

<body>



  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Siz rostdan ham ushbu guruhni o'chirmoqchimisiz?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
          <a href="/guruhlar/ochirish/" class="btn btn-danger">O'chirish</a>
        </div>
      </div>
    </div>
  </div>




  <div th:insert="header :: boshqism1"></div>
  <div class="container bg-light mt-3 mb-3 pb-3 pt-2" style="box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.788);">

    <h2 style="padding-left: 10px;color: rgb(2, 26, 98);">Guruhlar bo'limi</h2>
    <hr>
    <div class="row">
      <div class="col-12 col-md-3">
        <div style="background-color: rgb(192, 214, 255); padding: 13px;">
          <h4>Guruh qo'shish</h4>
          <form th:action="@{/guruhlar}" method="POST">
            <div class="form-group">
              <label for="mon">Nom:</label>
              <input required type="text" name="nom" id="mon" class="form-control" placeholder="Guruh nomini kiriting..." aria-describedby="nom">
              
            </div>

            <div class="form-group">
              <label for="oqituvchi">O'qituvchi:</label>
              <select required class="form-control" name="oqituvchi" id="oqituvchi">
                <option th:each="oq : ${oqituvchilar}" th:value="${oq.id}" th:text="${oq.ism}+' '+${oq.familiya}"></option>
              </select>
            </div>

            <div class="form-group">
              <label for="fan">Fan:</label>
              <select required class="form-control" name="fan" id="fan">
                <option th:each="fan : ${fanlar}" th:value="${fan.id}" th:text="${fan.nom}"></option>
              </select>
            </div>
            <div class="form-group">
              <label for="narx">Narx:</label>
              <input required type="number" name="narx" id="narx" class="form-control" placeholder="Guruh narxini kiriting..." aria-describedby="nom">              
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="aktiv"  checked>
                Aktiv
              </label>
            </div>

            <div class="form-group">
              <label for="info">Izoh</label>
              <textarea class="form-control" name="info" id="info" rows="5" placeholder="Izoh..."></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Qo'shish"></input>
            <input type="reset" class="btn btn-danger" value="Tozalash"></input>
          </form>
        </div>
       
      </div>
      <div class="col-12 col-md-9" style="background-color: rgb(245, 243, 243); padding: 13px;position: relative;">
        
        <div class="row">
          <div class="col-12 col-lg-4 ">
            <h4>Guruhlar ro'yxati</h4>
          </div>

          <div class="col-12 col-lg-8 position-relative">
        
            <div style="display: flex;flex-wrap: wrap;justify-content: flex-end;">
              <div style="font-size: 20px;padding-top: 4px;color: rgb(54, 54, 54);">
                Natija:
                <span id="jami" th:text="${totalItems}">123456</span>
                ta
              </div>
              <div style="padding-top: 6px;padding-left: 8px;">
                <form id="izlash" th:action="@{/guruhlar/izla}" method="get">
                  <input type="text" id="qidir" name="satr" placeholder="ma'lumot kiriting...">
                  <input type="submit" id="tugma" value="Izlash"></input>
                </form>
              </div >
  
            </div>
            
         
        </div>





        </div>
        <div th:if="${totalItems} == 0" id="royxatBush">
          Ro'yxat bo'sh!
          
        </div>
        <table th:if="${totalItems} != 0" class="table table-striped datatable table-border table-responsive">
          <thead class="thead-inverse">
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Fan</th>
              <th>O'qituvchi</th>
              <th>O'quvchilar soni</th>
              <th>Narx</th>
              <th>Aktiv</th>
              <th>Izoh</th>
              <th>Amallar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="o : ${guruhlar}">
              <td th:text="${o.id}"></td>
              <td th:text="${o.nom}"></td>
              <td >
                <a class="link" th:href="@{/fanlar}" th:text="${o.fan.nom}"></a>
              </td>
              <td>
                <a class="link" th:href="@{/oqituvchilar/edit/{id}(id=${o.oqituvchi.id})}" th:text="${o.oqituvchi.ism}+' '+${o.oqituvchi.familiya}"></a>
              </td>
              <td th:text="${o.oquvchiSon}"></td>
              <td th:text="${o.narx}"></td>
              <td th:switch="${o.aktiv}">
                <span th:case="true" style="color: rgb(0, 238, 0);">
                  Ha
                </span>
                <span th:case="false" style="color: rgb(253, 50, 43);">
                  Yo'q
                </span>
              </td>
              <td th:text="${o.info}"></td>
              <td>
                <a class="btn btn-info" th:href="@{/guruhlar/onguruh/{id}(id=${o.id})}" style="border-radius: 50%;">
                  <i class="fa fa-pencil " aria-hidden="true"></i>
                </a>



                <button type="button" style="border-radius: 50%;" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                  th:attr="data-id=${o.id}" th:if="${o.aktiv}">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <button style="border-radius: 50%;" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                  th:attr="data-id=${o.id}" th:if="${!o.aktiv}" disabled>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>


              </td>
            </tr>
          </tbody>
        </table>

        <nav aria-label="Page navigation example" th:if="${pages} > 1">
          <ul class="pagination d-flex flex-wrap justify-content-center">
            <li class="page-item disabled" th:if="${pageNumber} == 0">
              <a class="page-link" th:href="@{'/guruhlar'+${surov}+'?page=' +${pageNumber-1}}" tabindex="-1">Avvalgi</a>
            </li>
            <li class="page-item" th:if="${pageNumber} > 0">
              <a class="page-link" th:href="@{'/guruhlar'+${surov}+'?page=' +${pageNumber-1}}" tabindex="-1">Avvalgi</a>
            </li>
            

            <li class="page-item ml-0 mr-0" th:each="i : ${#numbers.sequence(1,pages)}">
              <a class="page-link" th:href="@{'/guruhlar'+${surov}+'?page='+${i-1}}" th:text="${i}">1</a>
            </li>
            

            <li class="page-item disabled" th:if="${pageNumber} == ${pages-1}">
              <a class="page-link" th:href="@{'/guruhlar'+${surov}+'?page=' +${pageNumber+1}}">Keyingi</a>
            </li>
            <li class="page-item " th:if="${pageNumber} < ${pages-1}">
              <a class="page-link" th:href="@{'/guruhlar'+${surov}+'?page=' +${pageNumber+1}}">Keyingi</a>
            </li>
          </ul>
        </nav>
        
      </div>
    </div>
  </div>





  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



  <script>
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var id = button.data('id');
      var modal = $(this)
      modal.find('.modal-footer a').attr('href', '/guruhlar/ochirish/' + id)
    })
  </script>

<script src="/js/tinymce.min.js"></script>
<script src="/js/simple-datatables.js"></script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>