<!DOCTYPE html>
<html lang="en" >




   <header th:fragment="boshqism">
      <div id="header1">
         <a href="#" id="x">
             <img id="logotip" src="/Снимок.PNG">
            <span id="nom">
               O'quv markaz
            </span>
         </a>
         <div id="menu">
            <ul>
               <li>
                  <a href="/">

                     Bosh sahifa
                  </a>
               </li>
               <li>
                  <a href="/oquvchilar">
                     O'quvchilar 
                  </a>
               </li>
               <li>
                  <a href="/oqituvchilar">
                     O'qituvchilar
                  </a>
               </li>
               <li>
                  <a href="/fanlar">
                     Fanlar
                  </a>
               </li>
               <li>
                  <a href="/guruhlar">
                     Guruhlar
                  </a>
               </li>

               <li>
                  <form action="https://www.google.com/">
                     <label for="search" id="lupa">
                        <i class='bx bx-search-alt'></i>
                     </label>
                     <input type="search" id="search" placeholder="Search...">
                     <button>Qidirish</button>
                  </form>
               </li>
            </ul>
         </div>
      </div>

     
   </header>
   <header th:fragment="boshqism1">
      <ul class="nav justify-content-end">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="/">Bosh sahifa</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/oquvchilar">O'quvchilar</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/oqituvchilar">O'qituvchilar</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/fanlar">Fanlar</a>
         </li>
         <li class="nav-item">
           <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
         </li>
       </ul>
   </header>
   
   <header th:fragment="boshqism2">
      <div id="header1">
         <a href="#" id="x">
             <img id="logotip" src="/Снимок.PNG">
            <span id="nom">
               O'quv markaz
            </span>
         </a>
         <div id="menu">
            <ul>
               <li>
                  <a href="/">

                     Bosh sahifa
                  </a>
               </li>
              
               <li>
                  <a href="#">
                     O'qituvchilar
                  </a>
               </li>
               <li>
                  <a href="#">
                     Fanlar
                  </a>
               </li>
               <li>
                  <a href="#">
                     Guruhlar
                  </a>
               </li>
               <li>
                  <a href="/user">
                     Admin
                  </a>
               </li>
               <li>
                  <form action="https://www.google.com/">
                     <label for="search" id="lupa">
                        <i class='bx bx-search-alt'></i>
                     </label>
                     <input type="search" id="search" placeholder="Search...">
                     <button>Qidirish</button>
                  </form>
               </li>
            </ul>
         </div>
      </div>

     
   </header>

</html>