<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="/kirish.css">
</head>
<body>
    <div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Have an account?</h2>
			<p>Lorem ipsum dolor sit amet</p>
			<label id="label-register" for="log-reg-show">Kirish</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>
							
		<div class="register-info-box">
			<h2>Don't have an account?</h2>
			<p>Lorem ipsum dolor sit amet</p>
			<label id="label-login" for="log-login-show">Ro'yxatdan o'tish</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>
							
		<div class="white-panel">
			<form th:action="@{/login}" class="login-show" method="post">
				<h2>Kirish</h2>
				<input type="text" name="login" placeholder="Login">
				<input type="password" name="parol" placeholder="Parol">
				<input type="submit" value="Kirish">
				<a href="">Forgot password?</a>
			</form>
			<form class="register-show">
				<h2>Ro'yxatdan o'tish</h2>
				<input type="text" name="login" placeholder="Login">
				<input type="password" name="parol" placeholder="Parol">
				<input type="password" placeholder="Parolni qayta kiriting">
				<input type="submit" value="Ro'yxatdan o'tish">
			</form>
		</div>
    </div>
    <script src="/kirish.js"></script>
</body>
</html>