<!doctype html>
<html lang="en">

<head>
    <title>Guruh</title>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/royxat.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <style>
        th {
            color: rgb(46, 46, 46);
        }


        #oqituvchisi {
            background-color: rgba(19, 202, 208, 0.823);
            padding-bottom: 10px;
            padding-top: 10px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            width: 100%;
        }

        .mal {
            border-bottom: 2px solid rgb(76, 250, 82);
            display: inline-block;
            color: rgb(240, 243, 240);
            font-style: italic;
            font-size: larger;

        }

        #oqit {
            font-size: x-large;
            color: rgb(9, 9, 189);
            text-align: center;
        }

        #faollik {
            background-color: rgb(128, 221, 34);
            display: inline-block;
            padding: 6px;
            margin-top: 10px;
            color: white;
            border-radius: 9px;
            box-shadow: 1px 1px 1px rgb(44, 44, 44);

        }

        #oquvcila {
            background-color: rgba(233, 234, 236, 0.919);
            padding: 13px;
            border-left: rgb(207, 205, 205) 1px solid;
        }

        body {
            background-image: url('/Снимок7.PNG');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>

    <div th:insert="header :: boshqism1"></div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Siz rostdan ham ushbu o'quvchini guruhdan
                        o'chirmoqchimisiz?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                    <a href="/guruhlar/ochirishSessiya/" class="btn btn-danger">O'chirish</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container" style="background-color: rgba(100, 95, 95, 0.473);padding-top: 5px; margin-bottom: 20px;">

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-primary backBtn btn-lg type='button'"
                            style="margin-top: 3px;margin-bottom: 5px;font-size: large;margin-top: 3px;padding: 1px 4px 3px 4px;" href="/guruhlar">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            ortga
                        </a>
                    </div>
                    <div class="col-6 text-right" >
                        <a class="btn btn-warning text-white pt-0"
                            th:href="@{/tolovlar/guruhTolov/{id}(id=${guruh.id})}" style="height: 27px;border: 1px rgb(255, 187, 0) groove;">
                             Barcha to'lovlari
                        </a>
                        <h5 id="faollik" th:if="${guruh.aktiv}">
                            Aktiv
                        </h5>
                        <h5 style="background-color: rgb(255, 53, 53);" id="faollik" th:if="${!guruh.aktiv}">
                            Aktiv emas
                        </h5>
                    </div>
                </div>

                <div id="oqituvchisi">
                    <h4 id="oqit">O'qituvchisi</h4>
                    <div style="text-align: center;">
                        <div class="mal"
                            th:text="${guruh.oqituvchi.ism}+' '+${guruh.oqituvchi.familiya}+' '+${guruh.oqituvchi.sharif}">
                            Uchqun Shonazarov Nurbekovich
                        </div><br>
                        <small class="text-muted">ism, familiya va sharif</small>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6" style="text-align: center;">
                            <div class="mal" th:text="${guruh.oqituvchi.id}">
                                12
                            </div><br>
                            <small class="text-muted">id</small>
                        </div>
                        <div class="col-12 col-md-6 " style="text-align: center;">
                            <div class="mal" th:text="${guruh.oqituvchi.telNomer}">
                                912207040
                            </div><br>
                            <small class="text-muted">telefon nomer</small>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-3" style="background-color: rgba(233, 234, 236, 0.919); padding: 13px;">
                <h5 style="text-align: center;">Ma'lumotlarni tahrirlash</h5>
                <form th:action="@{/guruhlar/edit}" method="POST">
                    <div class="form-group">
                        <label for="id">Id:</label>
                        <input th:value="${guruh.id}" type="text" name="id" id="id" class="form-control"
                            aria-describedby="id" readonly>

                    </div>
                    <div class="form-group">
                        <label for="mon">Nom:</label>
                        <input required th:value="${guruh.nom}" type="text" name="nom" id="mon" class="form-control"
                            placeholder="Nomini kiriting..." aria-describedby="nom">

                    </div>

                    <div class="form-group">
                        <label for="oqituvchi">O'qituvchi:</label>
                        <select required class="form-control" name="oqituvchi" id="oqituvchi">
                            <option th:each="oq : ${oqituvchilar}" th:value="${oq.id}"
                                th:text="${oq.ism}+' '+${oq.familiya}" th:if="${guruh.oqituvchi.id} != ${oq.id}">Uchqun
                                Shonazarov
                            </option>
                            <option th:value="${guruh.oqituvchi.id}"
                                th:text="${guruh.oqituvchi.ism}+' '+${guruh.oqituvchi.familiya}" selected></option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="fan">Fan:</label>
                        <select required class="form-control" name="fan" id="fan">
                            <option th:each="fan : ${fanlar}" th:value="${fan.id}" th:text="${fan.nom}"
                                th:if="${guruh.fan.id} != ${fan.id}"></option>
                            <option th:value="${guruh.fan.id}" th:text="${guruh.fan.nom}" selected></option>


                        </select>
                    </div>

                    <div class="form-group">
                        <label for="narx">Narx:</label>
                        <input required th:value="${guruh.narx}" type="number" name="narx" id="narx"
                            class="form-control" placeholder="Guruh narxini kiriting..." aria-describedby="nom">
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="aktiv" th:field="${guruh.aktiv}">
                            Aktiv
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="info">Izoh</label>
                        <textarea th:field="${guruh.info}" class="form-control" name="info" id="info" rows="5"
                            placeholder="Izoh..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Tahrirlash</button>
                    <a th:href="@{/guruhlar/onguruh/{id}(id=${guruh.id})}" class="btn btn-danger"
                        style="font-weight: normal !important;">Bekor qilish</a>
                </form>

            </div>
            <div class="col-12 col-md-9" id="oquvcila">

                <h5 style="text-align: center;">Guruh o'quvchilari</h5>
                <div th:if="${sessiyalar.size} == 0" id="royxatBush">
                    Ro'yxat bo'sh!

                </div>
                <table th:if="${sessiyalar.size} != 0" class="table table-striped table-border table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Id</th>
                            <th>Ism</th>
                            <th>Familiya</th>
                            <th>Sharif</th>
                            <th>Hujjat</th>
                            <th>Tel nomer</th>
                            <th>To'lov</th>
                            <th>Izoh</th>
                            <th>Amallar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="o : ${sessiyalar}">
                            <td th:text="${o.oquvchi.id}"></td>
                            <td th:text="${o.oquvchi.ism}"></td>
                            <td th:text="${o.oquvchi.familiya}"></td>
                            <td th:text="${o.oquvchi.sharif}"></td>
                            <td th:text="${o.oquvchi.hujjat}"></td>
                            <td th:text="${o.oquvchi.telNomer}"></td>
                            <td th:switch="${o.tolov}">
                                <span th:case="true" style="color: rgb(0, 238, 0);">
                                  To'langan
                                </span>
                                <span th:case="false" style="color: rgb(253, 50, 43);">
                                  To'lanmagan
                                </span>
                              </td>
                            <td th:text="${o.oquvchi.info}"></td>
                            <td>
                                <a class="btn btn-info" th:href="@{/oquvchilar/edit/{id}(id=${o.oquvchi.id})}"
                                    style="border-radius: 50%;">
                                    <i class="fa fa-pencil " aria-hidden="true"></i>
                                </a>



                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#exampleModal" th:attr="data-id=${o.id}" style="border-radius: 50%;">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>


                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>



        </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id');
            var modal = $(this)
            modal.find('.modal-footer a').attr('href', '/guruhlar/ochirishSessiya/' + id)
        })
    </script>
</body>

</html>