<!doctype html>
<html lang="en">

<head>
    <title>O'quvchini tahrirlash</title>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/header.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

</head>

<body style="background-image: url('/Снимок7.PNG');background-repeat: no-repeat;background-size: cover;">

    <div th:insert="header :: boshqism1"></div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Siz rostdan ham ushbu guruhdan o'quvchini
                        o'chirmoqchimisiz?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                    <a href="/sessiyalar/ochirishX/" class="btn btn-danger">O'chirish</a>
                </div>
            </div>
        </div>
    </div>







    <div class="container" style="background-color: rgba(100, 95, 95, 0.473);padding-top: 5px;">

        <div class="row">
            <div class="col-12">
                <a class="btn btn-primary backBtn btn-lg type='button'" style="margin-top: 3px;" href="/oquvchilar">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    ortga
                </a>
                <h3 style="text-align: center;color: cornsilk;">
                    Mavjud tayinlangan guruhlar
                    <span th:if="${sessiyalar.size} == 0 " style="color: red;">
                        yo'q!
                    </span>
                </h3>

                <div th:each="gu: ${sessiyalar}"
                    style="position:relative;background-color: rgb(93, 243, 93);border-radius: 10px;margin-bottom: 7px;
                    padding: 5px;padding-left: 15px;font-family: Verdana, Geneva, Tahoma, sans-serif;  color: rgb(64, 40, 197);font-weight: bold; box-shadow: 1px 1px 2px black;">
                    <span>Guruh id: </span><span th:text="${gu.guruh.id}"
                        style="color: white;font-weight: normal; ">565</span><br>
                    <span>Guruh fani: </span><span th:text="${gu.guruh.fan.nom}"
                        style="color: white;font-weight: normal;">Olma</span><br>
                    <span>Guruh o'qituvchisi: </span><span
                        th:text="${gu.guruh.oqituvchi.ism}+' '+${gu.guruh.oqituvchi.familiya}"
                        style="color: white;font-weight: normal;">Uchqun Shonazarov</span>
                    <div style="position: absolute;top: 25%;right: 1%;">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                            th:attr="data-id=${gu.id}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div style="background-color: rgba(233, 234, 236, 0.685); padding: 13px;">
                    <h4>O'quvchini guruhlarga tayinlash</h4>
                    <form action="/sessiyalar" method="POST" th:if="${guruhlar.size} != 0">

                        <div class="form-group">
                            <label for="oquvchi">O'quvchi:</label>
                            <select class="form-control" name="oquvchi" id="oquvchi">
                                <option th:value="${oquvchi.id}" th:text="${oquvchi.familiya}+' '+${oquvchi.ism}"
                                    selected aria-readonly="true"></option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="guruh">Guruh:</label>
                            <select class="form-control" name="guruh" id="guruh">
                                <option th:each="g : ${guruhlar}" th:value="${g.id}" th:text="${g.nom}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="boshVaqt">Boshlangan vaqt:</label>
                            <input required type="datetime-local" name="boshVaqt" id="boshVaqt" class="form-control"
                                aria-describedby="boshVaqt">

                        </div>

                        <div class="form-group">
                            <label for="tugVaqt">Tugash vaqt:</label>
                            <input type="datetime-local" name="tugVaqt" id="tugVaqt" class="form-control"
                                aria-describedby="tugVaqt">

                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="aktiv"  checked>
                              Aktiv
                            </label>
                          </div>

                        <div class="form-group">
                            <label for="info">Izoh:</label>
                            <textarea class="form-control" name="info" id="info" rows="5"
                                placeholder="Izoh..."></textarea>
                        </div>
                        <div style="text-align: center;">
                            <input style="margin-right: 20px;" type="submit" class="btn btn-success"
                                value="Qo'shish"></input>
                            <input type="reset" class="btn btn-danger" value="Tozalash"></input>
                        </div>


                    </form>
                    <div th:if="${guruhlar.size} == 0"
                        style="font-size: large;color:red;text-align: center;margin: 15%;">
                        Hozirda qo'shilishi mumkin bo'lgan guruh mavjud emas, avval guruh yaratib oling!
                    </div>
                </div>


            </div>

            <div class="col-12 col-md-6">
                <div style="background-color: rgba(233, 234, 236, 0.685); padding: 13px;">
                    <h4>O'quvchini tahrirlash</h4>
                    <form action="/oquvchilar/edit" method="POST">
                        <div class="form-group">
                            <label for="id">Id:</label>
                            <input th:value="${oquvchi.id}" type="text" name="id" id="id" class="form-control"
                                aria-describedby="id" readonly>

                        </div>
                        <div class="form-group">
                            <label for="ism">Ism:</label>
                            <input required th:value="${oquvchi.ism}" type="text" name="ism" id="ism"
                                class="form-control" placeholder="Ismini kiriting..." aria-describedby="ism">

                        </div>
                        <div class="form-group">
                            <label for="familiya">Familiya:</label>
                            <input required th:value="${oquvchi.familiya}" type="text" name="familiya" id="familiya"
                                class="form-control" placeholder="Familiyasini kiriting..." aria-describedby="familiya">

                        </div>
                        <div class="form-group">
                            <label for="sharif">Sharif:</label>
                            <input required th:value="${oquvchi.sharif}" type="text" name="sharif" id="sharif"
                                class="form-control" placeholder="Sharifini kiriting..." aria-describedby="sharif">

                        </div>
                        <div class="form-group">
                            <label for="hujjat">Hujjat:</label>
                            <input required th:value="${oquvchi.hujjat}" type="text" name="hujjat" id="hujjat"
                                class="form-control" placeholder="Seriya va nomer..." aria-describedby="hujjat">

                        </div>
                        <div class="form-group">
                            <label for="tel_nomer">Tel. nomer:</label>
                            <input th:value="${oquvchi.tel_nomer}" type="text" name="tel_nomer" id="tel_nomer"
                                class="form-control" placeholder="Telefon nomerini kiriting..."
                                aria-describedby="nomer">

                        </div>
                        <div class="form-group">
                            <label for="info">Izoh:</label>
                            <textarea th:field="${oquvchi.info}" class="form-control" name="info" id="info" rows="5"
                                placeholder="Izoh..."></textarea>
                        </div>
                        <div style="text-align: center;">
                            <button style="margin-right: 20px;" type="submit"
                                class="btn btn-success">Tahrirlash</button>
                            <a href="/oquvchilar" class="btn btn-danger" style="font-weight: normal !important;">Bekor
                                qilish</a>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id');
            var modal = $(this)
            modal.find('.modal-footer a').attr('href', '/sessiyalar/ochirishX/' + id)
        })
    </script>
</body>

</html>