<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/header.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style></style>
</head>

<body>
    <header th:fragment="boshqism1">
        <nav class="navbar navbar-expand-md bg-white navbar-dark navbar-right" style="padding: 0;width: 100%;">

            <a class="navbar-brand" href="/" id="x">
                <img id="logotip" src="../static/logo.png">
            </a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <i class="fa fa-bars text-info" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse " id="collapsibleNavbar">
                <div style=" border: 1px solid red; display: flex;
                justify-content: flex-end;
                ">
                    <div >
                        <a class="sisi"
                            style="text-decoration: none; color: rgba(95, 158, 160, 0.849); font-size: 17px;" href="/">
                            Bosh sahifa
                        </a>
                    </div>
                    <div >
                        <a class="sisi" style="text-decoration: none;" href="/oquvchilar">
                            O'quvchilar
                        </a>
                    </div>
                    <div >
                        <a class="sisi" style="text-decoration: none;" href="/oqituvchilar">
                            O'qituvchilar
                        </a>
                    </div>
                    <div >
                        <a class="sisi" style="text-decoration: none;" href="/fanlar">
                            Fanlar
                        </a>
                    <div>
                    <div >
                        <a class="sisi" style="text-decoration: none;" href="/guruhlar">
                            Guruhlar
                        </a>
                    <div>
                    <div >
                        <a class="sisi" style="text-decoration: none;" href="/sessiyalar">
                            Guruhlashlar
                        </a>
                    </div>
                    <div>
                        <form th:action="@{/logout}" method="post" style="text-decoration: none; color: cadetblue;">
                            <input id="chiq" type="submit" value="" hidden></input>

                            <label for="chiq" >
                                <strong>Chiqish
                                </strong>
                                <i class="fa fa-external-link" style="font-size: 20px;" aria-hidden="true"></i>
                            </label>
                        </form>

                    </div>
                </div>

            </div>

        </nav>

    </header>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        
</body>

</html>