<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/royxat.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="background-image: url('/Снимок7.PNG');background-repeat: no-repeat;background-size: cover;">
    <div th:insert="header :: boshqism1"></div>
    <div class="container bg-light mt-3 mb-3 pb-3 pt-2" style="box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.788);">
        <a class="btn btn-primary backBtn btn-lg type='button'"
        style="font-size: large;margin-top: 3px;padding: 1px 4px 3px 4px;"
        th:href="@{/oquvchilar/edit/{id}(id=${sessiya.oquvchi.id})}">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        ortga
    </a>
    <hr>
        <h3 style="padding-left: 10px;color: rgb(2, 26, 98);"><span th:text="${sessiya.oquvchi.ism}+' '+${sessiya.oquvchi.familiya}">Anvar Shomurodov</span>ning <span th:text="${sessiya.guruh.id}">55</span>-idli guruhga to'lovlari</h3>
        <hr>
        <div class="row">
            <div class="col-12 col-md-3">
                <div style="background-color: rgb(192, 214, 255); padding: 13px;">
                    <h4 style="text-align: center;">To'lov qo'shish</h4>
                    <form th:action="@{/tolovlar}" method="POST">
                        <div class="form-group">
                            <label for="mon">Guruhlash ID:</label>
                            <input th:value="${sessiya.id}" type="text" name="sessiya" id="mon" class="form-control"
                                 readonly>
                        </div>

                        <div class="form-group">
                            <label for="qiymat">Qiymat:</label>
                            <input required type="number" name="qiymat" id="qiymat" class="form-control"
                                placeholder="to'lov qiymatini kiriting..." >
                        </div>

                       
                        <div class="form-group">
                            <label for="oy">Oy:</label>
                            <select required class="form-control" name="oy" id="oy">
                                <option th:each="oy : ${oylar}" th:value="${oy}"
                                    th:text="${oy}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="yil">Yil:</label>
                            <input required type="text" name="yil" id="yil" class="form-control"
                                placeholder="yilni kiriting..." pattern="[0-9]{4}" >
                        </div>

                        <div class="form-group">
                            <label for="info">Izoh</label>
                            <textarea class="form-control" name="info" id="info" rows="5"
                                placeholder="izoh..."></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Qo'shish"></input>
                        <input type="reset" class="btn btn-danger" value="Tozalash"></input>
                    </form>
                </div>

            </div>
            <div class="col-12 col-md-9"
                style="background-color: rgb(245, 243, 243); padding: 13px;position: relative;">

                <div class="row">
                    <div class="col-12 col-lg-4 ">
                        <h5>Amalga oshirilgan to'lovlar</h5>
                    </div>

                    <div class="col-12 col-lg-8 position-relative">

                        <div style="display: flex;flex-direction: row;justify-content: flex-end;">
                            <div style="font-size: 20px;padding-top: 4px;color: rgb(54, 54, 54);">
                                Natija:
                                <span id="jami" th:text="${tolovlar.size}">123456</span>
                                ta
                            </div>
                            <!-- <div style="padding-top: 6px;padding-left: 8px;">
                                <form id="izlash" th:action="@{/tolovlar/izla}" method="POST">
                                    <input type="text" id="qidir" name="satr" placeholder="ma'lumot kiriting...">
                                    <input type="submit" id="tugma" value="Izlash"></input>
                                </form>
                            </div> -->

                        </div>


                    </div>





                </div>
                <div th:if="${tolovlar.size} == 0" id="royxatBush">
                    Ro'yxat bo'sh!

                </div>
                <table th:if="${tolovlar.size} != 0" class="table table-striped table-border table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Id</th>
                            <th>Guruh_ID</th>
                            <th>Qiymat</th>
                            <th>To'langan vaqt</th>
                            <th>Oy</th>
                            <th>Yil</th>
                            <th>Izoh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="o : ${tolovlar}">
                            <td th:text="${o.id}"></td>
                            <td>
                                <a class="link" th:href="@{/guruhlar/onguruh/{id}(id=${o.sessiya.guruh.id})}" th:text="${o.sessiya.guruh.id}"></a>
                              </td>
                            <td th:text="${o.qiymat}"></td>
                            <td th:text="${o.tolovVaqt}"></td>
                            <td th:text="${o.oy}"></td>
                            <td th:text="${o.yil}"></td>
                            <td th:text="${o.info}"></td>
                            
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>